@import "settings";
:host {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    margin-left: -$spacing-xxsmall;
    margin-right: -$spacing-xxsmall;

    @media (min-width: $breakpoint-tablet) {
        margin-left: -$spacing-xsmall;
        margin-right: -$spacing-xsmall;
    }

    &[data-horizontal-alignment="center"] {
        justify-content: center;
    }

    &[data-horizontal-alignment="right"] {
        justify-content: flex-end;
    }

    &[data-vertical-alignment="bottom"] {
        align-items: flex-end;
    }

    &[data-vertical-alignment="center"] {
        align-items: center;
    }

    &[data-vertical-alignment="stretch"] {
        align-items: stretch;
    }

    &[data-overflow="true"] {
        flex-flow: row nowrap;
    }
}
