/* stylelint-disable color-no-hex */
$blue-xxxxlight: #dbf4ff;
$blue-xxxlight: #aae4ff;
$blue-xxlight: #73d3ff;
$blue-xlight: #56c7ff;
$blue-light: #29b2fe;
$blue: #139ff0;
$blue-dark: #007fed;
$blue-xdark: #1073cb;
$blue-xxdark: #2259b5;
$blue-xxxdark: #164188;

$magenta-xxxlight: #ffc4d9;
$magenta-xxlight: #ff8eb6;
$magenta-xlight: #ff588e;
$magenta-light: #ff437d;
$magenta: #f52068;
$magenta-dark: #e91260;
$magenta-xdark: #e3005b;
$magenta-xxdark: #dc0057;
$magenta-xxxdark: #b20142;

$orange-xxxlight: #fffad4;
$orange-xxlight: #ffeba8;
$orange-xlight: #ffc24e;
$orange-light: #ffa32d;
$orange: #fc8c14;
$orange-dark: #f77d0e;
$orange-xdark: #f57207;
$orange-xxdark: #e96800;
$orange-xxxdark: #ad4d00;
$orange-preferred-freelancer: #ff6700; //Design team wil provide a new scale of orange color.

$neutral-xxxxxxlight: #fff;
$neutral-xxxxxlight: #f7f7f7;
$neutral-xxxxlight: #f0f0f0;
$neutral-xxxlight: #dedede;
$neutral-xxlight: #bec0c2;
$neutral-xlight: #75787d;
$neutral-light: #4d525b;
$neutral: #363f4d;
$neutral-dark: #2b3340;
$neutral-xdark: #1f2836;
$neutral-xxdark: #161e2c;
$neutral-xxxdark: #0e1724;
$neutral-xxxxdark: #000;

$green-xxxlight: #ddf5d3;
$green-xxlight: #c2ebbc;
$green-xlight: #95de90;
$green-light: #72cc72;
$green: #5dc26a;
$green-dark: #4fb55d;
$green-xdark: #379e54;
$green-xxdark: #2a934d;
$green-xxxdark: #2f6543;

$red-xxxxlight: #fff6f5;
$red-xxxlight: #ffcdc7;
$red-xxlight: #ffb7a3;
$red-xlight: #ff624d;
$red-light: #f84438;
$red: #eb3730;
$red-dark: #e02a28;
$red-xdark: #d31721;
$red-xxdark: #c20014;
$red-xxxdark: #891b21;

$purple-light: #9743ef;
$purple: #7d30c9;
$purple-dark: #6c1db7;

$yellow-light: #fffb4c;
$yellow: #ffeb3b;
$yellow-dark: #fc0;

$aqua-light: #30dbe3;
$aqua: #00cdd4;
$aqua-dark: #1eb5bd;

$seafoam-light: #7bd1bd;
$seafoam: #24b391;
$seafoam-dark: #156b57;

$pink-light: #fa5f9b;
$pink: #f20091;
$pink-dark: #d90082;

$freemarket: #ff8e01;
$warrior: #d00000;

$brand-apple: #000;
$brand-facebook: #1877f2;
$brand-twitter: #00b6f1;
$brand-google: #df4a32;
$brand-youtube: #f00;
$brand-instagram: #c32aa3;
$brand-linkedin: #0a66c2;
$brand-pinterest: #e60019;
/* stylelint-enable color-no-hex */
