@import 'settings';

:host {
    display: block;
    text-align: center;

    &[data-type="active"] {
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    &[data-type="disabled"] {
      background-color: $neutral-xlight;
    }

    &[disabled="true"] {
      opacity: 0.5;
      &:hover {
        cursor: default;
        opacity: 0.5;
      }
    }
}


